.main {
  text-align: left;
  margin: 0 40px;
  padding: 0 15px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.header {
  background-color: rgba(223, 223, 223, 0.851);
  margin: 0;
  margin: 0 -15px;
  padding: 15px;
  font-weight: normal;
  border-bottom: 2px solid lightgray;
}

.filter-panel {
  padding: 20px 5px 15px 5px;
}

.filter-label {
  margin-right: 15px;
}

.filter-input {
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 5px;
}

.table {
  width: 100%;
  border-top: 2px solid lightgray;
  border-spacing: 0;
}

.table th {
  color: rgb(9, 114, 220);
  font-size: 14px;
  padding: 15px 10px;
}

.table td {
  font-size: 14px;
  padding: 15px 10px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.table .button {
  background-color: rgb(9, 119, 230);
  border: 2px solid rgb(9, 114, 220);
  outline: none;
  padding: 5px;
  color: white;
  border-radius: 4px;
}
